# Functions

 **Syntax**

`def functionName(arg1,arg2,arg3........):
    Statement1
    statement2
            .
            .
            .
    return 
`

In [2]:
# whith out arg without return value
def greet():
    print('hello Rajas')
greet()

hello Rajas

In [3]:
print(greet())

hello Rajas
None

In [4]:
var = greet()

hello Rajas

In [5]:
var

In [6]:
print(var)

None

In [18]:
# With arg without Return
def greetWithName(fName, lName):
    print('welcome ',fName,lName)
    #return fName+lName

In [19]:
greetWithName("Raja"," G K")

welcome  Raja  G K

In [21]:
# String Concatation
def greetWithName1(fName, lName):
    print('welcome '+fName+lName)
    #return fName+lName

In [23]:
greetWithName1("GK",'Rajas')

welcome GKRajas

In [26]:
def mysum(a,b=10):
    return a+b

In [27]:
mysum(20,30)

50

In [29]:
mysum(2)

12

In [31]:
def mysum1(a=33,b=10):
    return a+b

In [32]:
mysum1()

43

In [33]:
mysum1(3)

13

In [34]:
mysum1(333,4444)

4777

In [35]:
range(5)

range(0, 5)

In [36]:
list(range(5))

[0, 1, 2, 3, 4]

In [37]:
list(range(3,5))

[3, 4]

In [38]:
list(range(3,10,3))

[3, 6, 9]

In [48]:
def myrange(b, a=0, c=1): # a = start b = stop c = steps
    li = []
    i = a
    while i < b:
        li.append(i)
        i = i + c
    return li

In [43]:
myrange(3,33,3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [49]:
myrange(6)

[0, 1, 2, 3, 4, 5]

In [58]:
def myprod(*values):  # single star using * Star
    f = 1
    for i in values:
        f = f*i
    return f

In [59]:
myprod(3),myprod(2,3,4,5)

(3, 120)

In [61]:
def welcome(**names):  # key word length ** using
    for m,g in names.items():
        print(m,g)
welcome(sub='Raja',sub2="G",sub3="K")

sub Raja
sub2 G
sub3 K

Define a function for multiplication table

function should print table from 1 to 10

`mytable(n,start,stop)
mytable(5)
mytable(5,2,5)
mytable(5,3)
`

In [65]:
def mytable(n,start=1,stop=10):
    for i in range(start,stop+1):
        print(n,'X',i,'=',i*n)

In [66]:
mytable(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [67]:
mytable(5,2,5)

5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

In [68]:
mytable(5,3)

5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Define a function to return the prime numbers in the inputs as list. Define separate function for prime

`myprimes(2,8,9) # 0/p [2]
myprimes(23,56,78,91) # o/p [23,91]
`

In [178]:
def isprime(n):
    flag = True
    for i in range(2,(n//2)+1):
        if n%i == 0:
            fleg = False
            return flag
    return flag
isprime(8)

True

In [96]:
isprimes(8)

True

In [170]:
def myprime(*numbers):
    # Docs String
    ''' This function will take multiple numbers as input 
    return a list with prime numbers
    >>> myprime(5)
    [5]
    '''
    li = []
    for each in numbers:
        if isprimes(each):
            li.append(each)
    return li

In [171]:
myprime(2,8,9)

[2, 8, 9]

In [99]:
import myOwnMadule as mom
mom.predict(9)

19

In [100]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [102]:
dir(mom)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'marks',
 'predict']

In [116]:
def properName(fn,ln):
    fn = fn.strip().capitalize()
    ln = ln.strip().capitalize()
    print(ln,fn)
properName("raja","gk    ")

Gk Raja

In [115]:
def properName(fn):
    name = fn.strip().title()
    print(name)
properName("   gk raja")

Gk Raja

add two lists element wise 

a = [1,2,3,4]

b = [2,3,4,5]

o/p = [3,5,7,9]

In [117]:
def twoLsum(a,b):
    l1 = []
    for i in range(len(a)):
        l1.append(a[i]+b[i])
    return l1
twoLsum([1,2,3,4],[2,3,4,5])

[3, 5, 7, 9]

studentMarks = [['raja',53,57,67],['ravi',78,89,55],['giri',54,77,66],['hai',66,77,99]]

Add the total marks for each student data and 

sort the based on total in ascending order

print the student marks with name 

if total is equal check the maths marks and print the name of the student

In [133]:
studentMarks = [['raja',53,57,67],['ravi',78,89,55],['giri',54,77,66],['hai',66,77,99]]
def marks(studentMarks):
    sum1 = 0
    for i in studentMarks:
        for j in range(1,len(i)):
            sum1 += i[j]
        i.append(sum1)
        print(list(i))

In [128]:
marks(studentMarks)

['raja', 53, 57, 67, 177]
['ravi', 78, 89, 55, 399]
['giri', 54, 77, 66, 596]
['hai', 66, 77, 99, 838]

In [143]:
studentMarks = [['raja',53,57,67],['ravi',78,89,55],['giri',54,77,66],['hai',66,77,99]]
for i in range(len(studentMarks)):
    studentMarks[i].append(sum(studentMarks[i][1:]))
#print(studentMarks)

In [144]:
studentMarks

[['raja', 53, 57, 67, 177],
 ['ravi', 78, 89, 55, 222],
 ['giri', 54, 77, 66, 197],
 ['hai', 66, 77, 99, 242]]

In [149]:
studentMarks.sort()
studentMarks

[['giri', 54, 77, 66, 197],
 ['hai', 66, 77, 99, 242],
 ['raja', 53, 57, 67, 177],
 ['ravi', 78, 89, 55, 222]]

In [152]:
sorted(studentMarks)

[['giri', 54, 77, 66, 197],
 ['hai', 66, 77, 99, 242],
 ['raja', 53, 57, 67, 177],
 ['ravi', 78, 89, 55, 222]]

In [156]:
sorted(studentMarks,key=lambda x:x[-1])

[['raja', 53, 57, 67, 177],
 ['giri', 54, 77, 66, 197],
 ['ravi', 78, 89, 55, 222],
 ['hai', 66, 77, 99, 242]]

In [162]:
sorted(studentMarks,key=lambda x:x[2])

[['raja', 53, 57, 67, 177],
 ['giri', 54, 77, 66, 197],
 ['hai', 66, 77, 99, 242],
 ['ravi', 78, 89, 55, 222]]

In [159]:
d = {'a':33,'b':66}
sorted(d.items(),key=lambda x:x[1],reverse=True)

[('b', 66), ('a', 33)]

In [163]:
maths = 0
for i in check:
    if i[-1]==204:
        if maths<i[2]:
            name = i[0]
            maths = i[2]
print(name)

NameError: name 'check' is not defined

In [166]:
a=[2,3,4]
b=[3,4,5]
list(map(lambda x,y:x+y,a,b))

[5, 7, 9]

In [167]:
list(map(lambda x:x%2==0,a))

[True, False, True]

In [168]:
True + False

1

In [169]:
sum(list(map(lambda x:x%2==0,a)))

2

In [175]:
sum(list(map(isprime,range(1,10001))))

10000

`1
2  9 
3  8  10
4  7  11  14
5  6  12  13  15
`

In [185]:
m = int(input())
for i in range(1,m+1):
    print("raja"*i)

5
raja
rajaraja
rajarajaraja
rajarajarajaraja
rajarajarajarajaraja

In [194]:
m = int(input())
pat = []
val = 1
for i in range(m):
    pat.append([])
    pat[i].extend(list(range(val,val+m-i)))
    val = pat[i][-1] +1
pat

5

[[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12], [13, 14], [15]]

In [195]:
for i in range(1,len(pat),2):
    pat[i].sort()
    pat[i] = pat[i][::-1]
pat

[[1, 2, 3, 4, 5], [9, 8, 7, 6], [10, 11, 12], [14, 13], [15]]

In [196]:
for i in range(len(pat)):
    if len(pat[0]) != len(pat[i]):
        for j in range(i):
            pat[i].insert(0,0)
pat

[[1, 2, 3, 4, 5],
 [0, 9, 8, 7, 6],
 [0, 0, 10, 11, 12],
 [0, 0, 0, 14, 13],
 [0, 0, 0, 0, 15]]

In [198]:
for i in list(zip(*pat)):
    for j in i:
        if j != 0:
            print(j,end = ' ')
    print()

1
2 9
3 8 10
4 7 11 14
5 6 12 13 15

In [192]:
def solve (A,N):
    # Write your code here
    A=list(A)
    k=2**(N-1)
    res=0
    for i in range(N):
        if A[i]>=k:
            res+=A[i]
    return res%(10**9+7)
T = int(input())
for _ in range(T):
    N = int(input())
    A = map(int, input().split())
 
    out_ = solve(A,N)
    print (out_)

2
3
3 4 5
9
2
3 6
9

In [193]:
def solve (A,N):
    subsets = 2**N
    charge = 0
    comp = subsets//2
 
    for i in range(0,N):
        if (A[i] >= comp):
            charge = charge + A[i]
 
    return charge%(10**9+7)
 
T = int(input())
for _ in range(T):
    N = int(input())
    A = list(map(int, input().split()))
    #print(A)
    out_ = solve(A,N)
    print (out_)

2
3
3 4 5
9
2
3 4
7